# Visual Studio / MSBuild
.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb
*.ipch

# Build outputs
Debug/
Release/
x64/
Win32/
**/Debug/
**/Release/

# Intermediate
*.obj
*.pch
*.pdb
*.idb
*.ilk
*.log
*.tlog
*.lastbuildstate
*.res
*.aps
*.intermediate.manifest
*.embed.manifest

# MFC / resource intermediates
*.bsc
*.sbr
*.ncb
*.exp
*.lib

# Misc
Thumbs.db
.DS_Store
