# Visual Studio
*.suo
*.user
*.sln.docstates
*.vs
Debug/
Release/
x64/
*.opensdf
*.sdf
*.pdb
*.ilk
*.pch
*.tlog
*.log
*.obj
*.manifest
*.res
*.cache
*.lastbuildstate
ipch/
*.aps
!myAlg/res/myAlg.rc2
!myAlg/ReadMe.txt
*.vcxproj.user
*.vcxproj.filters
Debug/
Release/
x64/
*.exe
*.dll
*.lib
*.idb
*.pdb
*.obj
*.pch
*.res
*.tlog
*.lastbuildstate
*.ilk
*.manifest
*.unsuccessfulbuild
*.sdf
*.suo
*.user
*.vcxproj.user
*.vcxproj.filters
ipch/
_UpgradeReport_Files/
UpgradeLog.XML
UpgradeLog.htm
*.VC.db
*.VC.VC.opendb
.vs/
bin/
obj/
**/[Dd]ebug/
**/[Rr]elease/
**/[Xx]64/
**/[Aa][Rr][Mm]/
**/[Aa][Rr][Mm]64/
**/[Dd]ebug[Uu]nicode/
**/[Rr]elease[Uu]nicode/
**/[Dd]ebug_x64/
**/[Rr]elease_x64/
*.VC.db
*.VC.VC.opendb
*.ncb
*.suo
*.pdb
*.idb
*.lib
*.exp
*.dll
*.exe
*.obj
*.o
*.sbr
*.bsc
*.ilk
*.pch
*.aps
*.log
*.tlog
*.dep
*.plg
*.htm
*.html
*.manifest
*.scc
*.vspscc
*.vssscc
*.user
*.build.log
*.htm
*.html
*.plg
*.dep
*.tlog
*.log
*.aps
*.pch
*.ilk
*.bsc
*.sbr
*.o
*.obj
*.exe
*.dll
*.exp
*.lib
*.idb
*.pdb
*.suo
*.ncb
*.VC.VC.opendb
*.VC.db
**/[Dd]ebug/
**/[Rr]elease/
**/[Xx]64/
**/[Aa][Rr][Mm]/
**/[Aa][Rr][Mm]64/
**/[Dd]ebug[Uu]nicode/
**/[Rr]elease[Uu]nicode/
**/[Dd]ebug_x64/
**/[Rr]elease_x64/
.vs/
bin/
obj/
UpgradeLog.XML
_UpgradeReport_Files/
*.vcxproj.user
*.vcxproj.filters
*.sdf
*.opensdf
*.suo
*.user
*.sln.docstates
*.vs
Debug/
Release/
x64/
*.opensdf
*.sdf
*.pdb
*.ilk
*.pch
*.tlog
*.log
*.obj
*.manifest
*.res
*.cache
*.lastbuildstate
ipch/
*.aps
!myAlg/res/myAlg.rc2
!myAlg/ReadMe.txt
*.vcxproj.user
*.vcxproj.filters
Debug/
Release/
x64/
*.exe
*.dll
*.lib
*.idb
*.pdb
*.obj
*.pch
*.res
*.tlog
*.lastbuildstate
*.ilk
*.manifest
*.unsuccessfulbuild
*.sdf
*.suo
*.user
*.vcxproj.user
*.vcxproj.filters
ipch/
_UpgradeReport_Files/
UpgradeLog.XML
UpgradeLog.htm
*.VC.db
*.VC.VC.opendb
.vs/
bin/
obj/
**/[Dd]ebug/
**/[Rr]elease/
**/[Xx]64/
**/[Aa][Rr][Mm]/
**/[Aa][Rr][Mm]64/
**/[Dd]ebug[Uu]nicode/
**/[Rr]elease[Uu]nicode/
**/[Dd]ebug_x64/
**/[Rr]elease_x64/
*.VC.db
*.VC.VC.opendb
*.ncb
*.suo
*.pdb
*.idb
*.lib
*.exp
*.dll
*.exe
*.obj
*.o
*.sbr
*.bsc
*.ilk
*.pch
*.aps
*.log
*.tlog
*.dep
*.plg
*.htm
*.html
*.manifest
*.scc
*.vspscc
*.vssscc
*.user
*.build.log
*.htm
*.html
*.plg
*.dep
*.tlog
*.log
*.aps
*.pch
*.ilk
*.bsc
*.sbr
*.o
*.obj
*.exe
*.dll
*.exp
*.lib
*.idb
*.pdb
*.suo
*.ncb
*.VC.VC.opendb
*.VC.db
**/[Dd]ebug/
**/[Rr]elease/
**/[Xx]64/
**/[Aa][Rr][Mm]/
**/[Aa][Rr][Mm]64/
**/[Dd]ebug[Uu]nicode/
**/[Rr]elease[Uu]nicode/
**/[Dd]ebug_x64/
**/[Rr]elease_x64/
.vs/
bin/
obj/
UpgradeLog.XML
_UpgradeReport_Files/
*.vcxproj.user
*.vcxproj.filters
*.sdf
*.opensdf
